In [5]:
import pandas as pd
import numpy as np

In [37]:
# Create a pandas dataframe (DataFrame name as 'df') (10 observations and 5 features)

df = pd.DataFrame({'Roll_No':[1,2,3,4,5,6,7,8,9,10],
                   'Name':['Amy','Bob','Cara','Dean','Elliot','Farah','Giles','Hari','Imogen','Jack'],
                   'Age':[15,16,15,16,14,15,15,16,np.nan,15],
                   'Gender':['F','M','F',np.nan,'M','F','M','M','F',np.nan],
                   'Percentage': [89,77,72,91,65,74,84,90,56,55]
                   })
df

   Roll_No    Name   Age Gender  Percentage
0        1     Amy  15.0      F          89
1        2     Bob  16.0      M          77
2        3    Cara  15.0      F          72
3        4    Dean  16.0    NaN          91
4        5  Elliot  14.0      M          65
5        6   Farah  15.0      F          74
6        7   Giles  15.0      M          84
7        8    Hari  16.0      M          90
8        9  Imogen   NaN      F          56
9       10    Jack  15.0    NaN          55

In [38]:
# Check the info of 'df'

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Roll_No     10 non-null     int64
 1   Name        10 non-null     object
 2   Age         9 non-null      float64
 3   Gender      8 non-null      object
 4   Percentage  10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes

In [39]:
# Check the descriptive statistics of 'df'

df.describe()

        Roll_No        Age  Percentage
count  10.00000   9.000000   10.000000
mean    5.50000  15.222222   75.300000
std     3.02765   0.666667   13.466419
min     1.00000  14.000000   55.000000
25%     3.25000  15.000000   66.750000
50%     5.50000  15.000000   75.500000
75%     7.75000  16.000000   87.750000
max    10.00000  16.000000   91.000000

In [40]:
# Check the 4th index observation with 'loc' slicing operator

df.loc[4]

Roll_No            5
Name          Elliot
Age             14.0
Gender             M
Percentage        65
Name: 4, dtype: object

In [41]:
# Check the null values in your 'df'

df.isnull().sum()

Roll_No       0
Name          0
Age           1
Gender        2
Percentage    0
dtype: int64